{% extends "index.html" %}


{% block content %}
    <div id="container">
            <div id="chatcontainer">
            </div>

        <script>
                $(document).ready(function() {
                        var toolbar = {
                            rows: [
                                {
                                    view: "toolbar", height: 45, elements:[
                                        {view: "label", label: "<span style='font-size: 18px;'>Webix 0-Chat</span>"},,
                                    ]
                                },
                           ]
                        };
                        var txtmsg = {
                            view: "toolbar",
                            elements: [
                                {
                                    view:'text',
                                    name:'txtMsg',
                                },
                                {
                                    view:'button',
                                    id:'btnSendMsg',
                                    value:'Send',
                                    type:'standard',
                                    click: function(){
                                        console.log('btnSend is clicked.');
                                    }
                                }
                            ]
                        };
                        var leftpane = {
                            rows: [
                                { 
                                    view: "list", 
                                    labelAlign: "right", 
                                    height: 200, 
                                    value: "",
                                    id: "listChats"
                                },         
                                txtmsg,
                            ]
                        };
                        var rightpane = {
                            rows:[
                                { 
                                    view: "textarea", 
                                    labelAlign: "right", 
                                    height: 200, 
                                    value: "type here",
                                    id: "txtFormsChat",
                                },
                            ]
                        };

                        webix.ui({
                            cols:[
                                leftpane,
                                rightpane,
                            ]                            
                        });
                
                });
                webix.UIManager.addHotKey("Enter", sendChatMsg);
                webix.UIManager.setFocus($$("txtMsg"));

                 var gun = Gun('https://gunjs.herokuapp.com/gun');

                // reload all
                gun.map().on(function(msg, id){
					var li = $('#' + id).get(0) || $('<li>').attr('id', id).appendTo('ul');
					if(msg){
						$(li).text(thought);
                    }
				});
                var sock = new WebSocket("ws://localhost:8000/dispatch");
                sock.onopen = function(){
                    console.log("Opened a connection..");
                };

                sock.onmessage = function(m){
                    console.log("RECEIVED MSG: ", m.data);
                    gun.get('0chat').set(m.data)
                }
                function sendChatMsg() {
                    var m = $$('txtMsg').value();
                    sock.send(m)
                    gun.get('0chat').set(m);
                    console.log("DONE SET IN gun")
                    $('txtMsg').value("")

                }

            </script>

</div>
{% endblock %}